extends header.pug
block content
    body
        include ./navbar.pug
        section.article
            h1 ¿Qué es bisexual?
            h3.article__subtitle ¿Cuáles son algunas ideas falsas más comunes sobre la bisexualidad?
            p Es común que se piense erróneamente que los bisexuales están confundidos sobre si son gais o heterosexuales; que son incapaces de comprometerse en relaciones monógamas; y que deben salir con personas de distintos sexos al mismo tiempo. Los bisexuales se enfrentan a los prejuicios y el estigma, tanto de los heterosexuales como de los gais.
            h3.article__subtitle ¿Por qué la palabra gay se utiliza con frecuencia en la comunidad internacional?
            p Muchas personas utilizan la palabra gay, porque en general se considera un término respetuoso para describir la sexualidad y la atracción por personas del mismo sexo. las relaciones o la atracción por personas del mismo sexo, por lo que han tomado la palabra gay del inglés para utilizarla con ese fin. El término gay, es utilizado por la comunidad internacional como forma positiva de describir la atracción por las personas del mismo sexo y las parejas del mismo sexo.