extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 Pastillas anticonceptivas de DESOGESTREL
            h3.article__subtitle ¿Cuándo se empiezaa tomar la primera pastilla?
            p Se empiezan a tomar las pastillas el primer día de la menstruación.Si se comienza en otro momento o en ausencia de menstruación es necesario usar preservativo los primeros 7 días de la toma para descartar un embarazo.Luego de un aborto, se puede comenzar inmediatamente (sin necesidad de protección adicional).
            h3.article__subtitle *Luego de un parto o cesárea:
            h5.article__subtitle • Si se está amamantando:
            p Empezar a tomar las pastillas 6 semanas después del parto o en la fecha indicada por el equipo de salud.
            h5.article__subtitle • Si no se está amamantando:
            p Hay que empezar a tomar las pastillas al momento del alta.
            h3.article__subtitle ¿Por cuál pastilla se empieza?
            p Todas las pastillas son iguales. Hay que empezar por la que dice el día de la semana en que se toma la primera pastilla, y luego seguir las flechas.
            h3.article__subtitle iCómo se toman las pastillas? 
            p Tomar una pastilla por dia siempre en el mismo horario. Al terminar la caja comenzar una nueva. NO hay que hacer pausa entre una caja y la otra.
            h3.article__subtitle Desde que se empiezan a tomar las pastillas, icuándo son seguras para evitar un embarazo?
            p Si se toman desde el primer día de la menstruación, el método es efectivo desde el inicio. Si se inicia la toma en otro momento, hay que esperar 7 días para que sean efectivas. Durante esa primera semana es necesario utilizar preservativo. Si se inicia durante las primeras 6 semanas post parto y se está con lactancia exclusiva, no es necesario el uso de preservativo.
            h3.article__subtitle ¿Es una menstruación lo que aparece?
            p No es una menstruación porque las pastilla inhiben la ovulación. Se produce un sangrado parecido a una menstruación, más irregular, de menor cantidad, con sangre más oscura y menos doloroso. Con el tiempo el sangrado puede desaparecer sin que esto signifique ningún riesgo para la salud.
            h3.article__subtitle Se está terminando la caja y todavía no aparece el sangrado. ¿Está bien? ¿Qué hay que hacer?
            p Luego de un tiempo de tomar las pastillas el sangrado va disminuyendo, hasta incluso puede desaparecer. Si se tomaron bien las pastillas, la protección continúa. La falta de sangrado no representa ningún riesgo para la salud. La sangre no se acumula en el cuerpo. Consultar al centro de salud por cualquier duda.
            h3.article__subtitle En caso de vomitar después de tomar la pastilla, isigue siendo segura? 
            p Si pasaron menos de 4 horas entre la toma de la pastilla y los vómitos: hay que tomar otra pastila lo antes posible y continuar con las siguientes en el horario de siempre
            p Si pasaron más de 4 horas entre la toma de la pastilla y los vómitos, siguen siendo seguras. 
            h3.article__subtitle Qué hacer en caso de diarrea?
            p Seguir tomando la pastilla como siempre. Mientras curo la diarrea y durante los 7 dias posterioros a que se vayan los sintomas, usar preservativo.
            h3.article__subtitle ¿Se pueden tomar otros medicamentos junto con la pastilla? 
            p Ante la indicación de alguna medicación es importante comentarle al equipo de salud que se están tomando pastillas anticonceptivas de desogestrel para descartar posibles iteracciones. Algunos medicamentos para el tratamiento de la tuberculosis, el VIH y algunos anticonvulsivantes pueden disminuir la seguricdad de la pastilla. En caso do no poder hacer la consulta, no interrumpir la toma de las pastillas y sumar el preservativo para mayor cuidado.
            h3.article__subtitle Tomar pastillas, ¿tiene efectos molestos?
            p Son poco frecuentes, y no se presentan en todos los casos. Pueden causar dolores de cabeza, cambios de humor, cambios en el deseo sexual, dolor mamario, dolor abdominal o náuseas. La mayoría de estos efectos disminuye o desaparece en los primeros meses de toma de la pastilla. Si son muy intensos es importante consultar al equipo de salud.
            h1 Olvidos
            h3 Qué hacer en caso de olvidar la toma de una pastilla en el horario de siempre?
            p Si pasaron menos de 12 horas de la hora de toma habitual: tomar la pastilla olvidada lo antes posible y continuar con las siguientes en el horario de siempre. Siguen siendo seguras.
            p Si pasaron 12 o más horas: tomar la pastilla olvidada lo antes posible y continuar con las siguientes en el horaio de siempre (aunque haya que tomar dos pastilas el mismo dia o al mismo tiempo). Ademas, es muy importante usar preservativo durante 7 dias. Luego las pastillas vuelven a ser seguras. Si durante esos 7 dias posteriores al oivido se tuvieron relaciones sexuales con penetración pene-vagina sin preservativo, tomar además anticoncepción de emergencia (también conocida como "pastilla del dia cespués") lo antes posible, para reducir la posibilidad de un embarazo. 
            