extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 DIU Dispositivo Intrauterino de cobre 
            h3.article__subtitle ¿Qué cuidados hay que tener los primeros días luego de la colocación?
            p Se recomienda no mantener relaciones sexuales con penetración vaginal, no colocar óvulos ni tampones y no hacer duchas vaginales con bidet ni baños de inmersión por los siguientes 7 dias o mientras dure el sangrado.
            h3.article__subtitle ¿Qué se puede esperar los primeros días? ¿Se siente algo diferente?
            p Si se estaba menstruando al momento de la colocación, el sangrado puede ser más abundante de lo habitual, puede haber sangrado entre las menstruaciones y es posible que se sientan molestias abdominales. Esto es normal y esperable. No implica un riesgo para la salud. Si no se estaba menstruando al momento de la colocación puede aparecer un sangrado leve a moderado, dolores o molestias abdominales y flujo un poco más abundante. Si los dolores o el sangrado son muy intensos consultar al equipo de salud.
            h3.article__subtitle Desde que se coloca el DIU, ¿cuándo es seguro para evitar un embarazo?
            p El DIU evita embarazos desde su colocación, si esta es exitosa Se recomienda el uso de otro método enticonceptivo hasta el primer control para asegurarse que a colocacion haya sido correcta
            h3.article__subtitle ¿Cuánto tiempo dura el efecto anticonceptivo del DIU? 
            p En general duran entre 5 y 10 años dependierndo el modelo utilizado.
            h3.article__subtitle ¿Hay que controlarlo? ¿Cuándo?
            p En general, se realiza un control a los 7 días de la colocación. Otro, después de la primera menstruación y cada 6 meses o un año, según lo recomendado por el equipo de salud.
            h3.article__subtitle ¿Cómo son los controles?
            p En general, para hacer el control es suficiente hacer un examen ginecológico con espéculo para ver los hilos. También se puede hacer el control con ecografía, pero esto no es indispensable. 
            h3.article__subtitle ¿Es posible saber si el DIU está en su lugar?
            p Si, con controles médicos o con ecografia. También es posible tocarse los hilos introduciendo uno o dos dedos hasta el fondo de la vagina teniendo mucho cuidado de no tirar de ellos.
            h3.article__subtitle ¿Cuándo vendrá la menstruación y cómo?
            p Las menstruaciones seguirán su ritmo habitual es posible que sean de mayor cantidad y duren más dias. Pueden ser un poco más dolorosas que antes. Esto suele ceder con analgésicos comunes (como ibuprofeno). Los primeros meses, puede haber un pequeño sangrado entre las menstruaciones.
            h3.article__subtitle ¿Se sienten los hilos al mantener relaciones sexuales con penetración vaginal?
            p Es muy poco probable que se sientan los hilos o que molesten durante la relación. Si esto llegara a pasar, consultar al equipo de salud, ya que pueden acortarse.
            h3.article__subtitle ¿Puede hacerse el PAP (Papanicolaou) con el DIU?
            p Si, no hay ningun problema. Es conveniente aprovechar el control del DIU para realizarse el PAP en el momento indicado por el equipo de salud.
            h3.article__subtitle ¿Qué tener en cuenta si el DIU fue colocado luego del parto o cesárea?
            p Si se colocó en forma inmediata (hasta 48 horas después) del parto o cesáren, hay que tener en cuenta.
            p Que pueden aparecer los hilos del DIU a través de la vagina Esto es normal. Es importante no tirar do los hilos y concurrir a una guardia de obstetricia o al centro de salud para que una profesional los controle y recorte.
            p Hasta que concurra al control, y se verifique que el DIU está correctamente ubicado, es necesario utilizar otro metodo anticonceptivo de respaldo (como anticonceptivos orales para la lactancia o preservativo).
            p A los 30 dias de la colocación debe asistir a un control para verificar que el DIU siga bien colocado.
            h3.article__subtitle ES IMPORTANTE CONSULTAR SI SE PRESENTA:
            p •Flujo con mal olor
            p •Dolor intenso o en aumento en la parte
            p •baja del abdomen
            p • Pérdida de sangre abundante por la vagina Picazón, molestias o dolor en la vulva o la vagina.
            p •Molestias durante las relaciones sexuales
            p •Falta de menstruación
