extends header.pug 
block content 
    body
        include ./navbar.pug
        section.article
            h1 Día internacion contra la homofobia, la Transfobia y la Bifobia
            //- Create countdown with months, days, hours, minutes and seconds
            section.countdown
                section.countdown__item
                    p#days
                    p#days-text Días
                    span.transition
                section.countdown__item
                    p#hours
                    p#hours-text Horas
                    span.transition
                section.countdown__item
                    p#minutes
                    p#minutes-text Minutos
                    span.transition
                section.countdown__item
                    p#seconds
                    p#seconds-text Segundos
                    span.transition
            h2.countdown-title Sanción de la Ley de Matrimonio Igualitario
            //- Create countdown with months, days, hours, minutes and seconds
            section.countdown
                section.countdown__item
                    p#days2
                    p#days-text Días
                    span.transition
                section.countdown__item
                    p#hours2
                    p#hours-text Horas
                    span.transition
                section.countdown__item
                    p#minutes2
                    p#minutes-text Minutos
                    span.transition
                section.countdown__item
                    p#seconds2
                    p#seconds-text Segundos
                    span.transition
            h2.countdown-title Aprobación de la Ley de Reproducción Asistida en argentina
            //- Create countdown with months, days, hours, minutes and seconds
            section.countdown
                section.countdown__item
                    p#days3
                    p#days-text Días
                    span.transition
                section.countdown__item
                    p#hours3
                    p#hours-text Horas
                    span.transition
                section.countdown__item
                    p#minutes3
                    p#minutes-text Minutos
                    span.transition
                section.countdown__item
                    p#seconds3
                    p#seconds-text Segundos
                    span.transition
            h2.countdown-title Sanción de la Ley de Educación Sexual Integral
            //- Create countdown with months, days, hours, minutes and seconds
            section.countdown
                section.countdown__item
                    p#days4
                    p#days-text Días
                    span.transition
                section.countdown__item
                    p#hours4
                    p#hours-text Horas
                    span.transition
                section.countdown__item
                    p#minutes4
                    p#minutes-text Minutos
                    span.transition
                section.countdown__item
                    p#seconds4
                    p#seconds-text Segundos
                    span.transition
        script(src="js/countdown.js") 