extends header.pug
block content
	body 
		include ./navbar.pug
		section.article
			h1 Géneros
			p Se refiere a los aspectos socialmente atribuidos según el sexo de una persona (masculino o femenino). Las nociones de masculinidad o feminidad son construcciones socioculturales a partir de un hecho biológico como el sexo, y las personas aprenden a «ser varón» o a «ser mujer» mediante el proceso de socialización
			
			h2.article__subtitle Tipos de género
			p.article__text Los géneros son:
			ul.article__list
					li <img src="./images/male.png" alt="Sexo masculino"> Masculino 
					li <img src="./images/female.png" alt="Sexo masculino"> Femenino
					li <img src="./images/non-binary.png" alt="Sexo masculino"> No binario