extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 ¿Qué es la heterosexualidad?
            h2.article__subtitle ¿De donde proviene?
            p La palabra heterosexual proviene del griego que significa diferente. su palabra coloquial en ingles es "Straigth".
            img(src="images/personashetero.jpg", alt="personas hetero", class="article__image")