extends header.pug
block content
    body 
        include ./navbar.pug
        section.article
            h1 Homofobia
            h2.article__subtitle ¿Qué es la homofobia?
            p La homofobia es una enfermedad que se caracteriza por la aparición de una persona que se identifica con otra, pero que no se conoce. La persona que se identifica con otra es una persona que se identifica con otra, pero que no se conoce.
            h2.article__subtitle ¿Cuáles son algunos ejemplos de homofobia y transfobia?
            p Algunos ejemplos de homofobia y transfobia son: negarse a estrechar la mano de alguien, negarse a socializar con alguien, utilizar expresiones ofensivas al hablar con alguien o sobre alguien, acosar a alguien o hacerle daño físico debido a su orientación sexual (en el caso de la homofobia), o a su identidad de género o expresión de género (en el caso de la transfobia), ya sea real o supuesta.
            img(src="images/homofobia.jpeg", class="article__subtitle", alt="homofobia")   