    extends header.pug
    block content
        body 
            include ./navbar.pug
            section.article
            h1 Identidad de género
            h3 ¿Qué es la identidad de genero?
            p Nuestra orientación sexual es nuestra atracción romántica, emocional o sexual hacia otras personas. La identidad de género constituye nuestro sentido interno de masculinidad, feminidad u otro género. Es el modo en que te sientes internamente con respecto a tu género, independientemente del sexo o género biológico que se te haya asignado. UNA SOCIEDAD INCLUSIVA PARA TODES / 140 / Pensamos en la orientación sexual como algo que se irradia hacia el exterior, y la identidad de género como algo que se irradia hacia el interior. El sexo biológico se refiere a nuestro físico.
            