<nav class="navbar navbar-expand-lg navbar-light bg-darkm">
    <div class="container-fluid">
    a(class="navbar-brand",href="inicio.html")
        img(src="https://tmdm.com.ar/u/logo-lgbtiq-v2.svg", alt="Logo", style="width: 110px; height: 50px; position: relative; top: 0px")
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="inicio.html">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="orientacion.html">Orientación sexual</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="generos.html">Géneros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="identidad.html" tabindex="-1" aria-disabled="true">Identidad</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="homofobia.html" tabindex="-1" aria-disabled="true">Homofobia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="quiz.html" tabindex="-1" aria-disabled="true">Quiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="fecha.html" tabindex="-1" aria-disabled="true">Fechas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="amnistia.html" tabindex="-1" aria-disabled="true">Amnistía</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="creditos.html" tabindex="-1" aria-disabled="true">Créditos</a>
        </li>
        </ul>
        <input class="form-control me-2" id="search" type="search" autocomplete="off" placeholder="Buscar" aria-label="Search">
        <section id="search-results">
        </section>
    </div>
    </div>
</nav>