extends header.pug
block content
    body 
        include ./navbar.pug
        section.article 
            h1 queer 
            h3 ¿Qué es queer?
            p Queer es un término tomado del inglés que se define como ‘extraño’ o ‘poco usual’. Se relaciona con una identidad sexual o de género que no corresponde a las ideas establecidas de sexualidad y género.
            h3 ¿Quienes son personas queer?
            p “Queer” es una palabra que describe una identidad de género y sexual diferente a la heterosexual y cisgénero. Las personas lesbianas, gays, bisexuales y transgénero pueden quizá identificarse con la palabra “queer”.
            img(class="queer" src="/images/queer.jpg", alt="queer")   